.cardCustom {
  border-radius: 20px;
  margin: 20px;
  width: 375px;
  height: 150px;
  padding: 15px;
  box-shadow: 5px 5px 10px 5px #888888;
  display: flex;
  justify-content: space-between;

  img {
    max-width: 120px;
    height: 100px;
    border-radius: 20px;
    margin-right: 15px;
  }
  .cardMain {
    .badge {
      background-color: rgb(108, 108, 245);
      padding: 3px 6px;
      border-radius: 3px;
      margin-bottom: 5px;
      width: fit-content;
      margin-left: 10px;
      span {
        color: #fff;
        font-size: 12px;
      }
    }
    h2 {
      color: rgb(6, 6, 62);
      font-size: 14px;
      margin-left: 10px;
    }
    h4 {
      color: rgb(73, 73, 249);
      font-size: 12px;
      margin-left: 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 210px;
    }
  }
}
